includes:
    - vendor/phpstan/phpstan-beberlei-assert/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
    reportUnmatchedIgnoredErrors: false
    bootstrapFiles:
        - '%currentWorkingDirectory%/vendor/codeception/codeception/autoload.php'
    level: 8
    paths:
        - src
        - tests
    inferPrivatePropertyTypeFromConstructor: true
    excludePaths:
        - '%currentWorkingDirectory%/tests/_support/_generated'
        - '%currentWorkingDirectory%/tests/_support/project/var'
        - '%currentWorkingDirectory%/tests/_support/UnitTester.php'
        - '%currentWorkingDirectory%/tests/unit/Entity/UnionTestEntity.php'
        - '%currentWorkingDirectory%/tests/unit/FileUnionPropertyConfigurationTest.php'
    ignoreErrors:
        - '#Call to an undefined method ReflectionProperty\:\:hasDefaultValue\(\)\.#'
        - '#Call to an undefined method ReflectionProperty\:\:getDefaultValue\(\)\.#'
        -
            message: '#Strict comparison using === between null and string will always evaluate to false\.#'
            path: '%currentWorkingDirectory%/src/Integration/Symfony/Form/Transformer/SymfonyFileToWebFileTransformer.php'
