includes:
    - vendor/phpstan/phpstan-beberlei-assert/extension.neon
parameters:
    inferPrivatePropertyTypeFromConstructor: true
    excludes_analyse:
        - '%rootDir%/../../../docker'
        - '%rootDir%/../../../tests/_support/_generated'
        - '%rootDir%/../../../tests/_support/UnitTester.php'
        - '%rootDir%/../../../vendor'
