<form action="" method="post" enctype="multipart/form-data">
    <input type="file" name="single_file" />
    <input type="file" name="multiple_files[]" />
    <input type="file" name="multiple_files[]" />
    <button>Submit</button>
</form>
