<form action="{{ path('index') }}" method="post" enctype="multipart/form-data">
    <div>
        <label>Single file</label>
        <input type="file" name="single_file" />
    </div>
    <div>
        <label>Multiple files</label>
        <input type="file" name="multiple_files[]" />
        <input type="file" name="multiple_files[]" />
    </div>
    <button>Submit</button>
</form>
