<a href="{{ path('native_files') }}">Native file upload test</a>
<a href="{{ path('symfony_files') }}">Symfony file upload test</a>
<a href="{{ path('multiple_symfony_files') }}">Symfony multiple file upload test</a>
