<p>
    <a href="{{ path('index') }}">Index</a>
</p>
{% form_theme form '@Files/formTheme.html.twig' %}
{{ form_start(form) }}
    {{ form_rest(form) }}
    <button>Submit</button>
{{ form_end(form) }}
